{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <style>
      .image-container {
    text-align: center;
    margin: 20px;
    background-image: url('img/laptop.jpg'); 
    background-size: cover; 
    background-position: center; 
    }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

       
        <div class="row justify-content-center " >

            <div class="col-xl-10 col-lg-12 col-md-9 ">

                <div class="card o-hidden border-0 shadow-lg my-5 image-container">
                    <div class="card-body p-0">
                       
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-white mb-4 ">Réinitialiser votre mot de passe!</h1>
                                    </div>
                                    <p>
                                        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé contenant un lien pour réinitialiser votre mot de passe. Ce lien expirera dans une heure. {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                    </p>
                                    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}"> réessayer </a>.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html> 
{% endblock %}
